{% extends 'loja/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/categoria.css' %}">
{% endblock %}

{% block content %}

<h2 class="section-title">{{ categoria }}</h2>

{% if produtos %}
    <div class="products">
        {% for produto in produtos %}
        <div class="product-card">
            <div class="product-img">
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
            </div>
            <p class="product-name">{{ produto.nome }}</p>
            <p class="product-price">R$ {{ produto.preco }}</p>
            <button class="product-btn">Adicionar</button>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="sem-produtos">Nenhum produto encontrado nessa categoria.</p>
{% endif %}

{% endblock %}
